html {
    font-family: Arial;
}

.header {
    padding: 0 52px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #d1d1e0;
}

.logo {
    height: 65px;
    width: 65px;
    cursor: pointer;
}

.avatar {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.listNav {
    margin-left: 123px;
    display: flex;
    justify-content: space-between;
}
.nav {
    font-size: 18px;
    font-weight: 600;
    margin: 0 33px;
    padding: 8px 12px;
}

.nav a {
    text-decoration: none;
    color: black;
}

.account {
    position: relative;
}

.quanLy {
    position: relative;
}

.listMenuAcc {
    display: none;
}

.listSubNav {
    display: none;
}

.listMenuAcc a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.listSubNav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.showMenuAccount {
    display: flex;
    width: 200px;
    position: absolute;
    top: 60px;
    right: 0;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 0 10px #d1d1e0;
    z-index: 1;
}

.showMenuQuanLy {
    display: flex;
    width: 290px;
    position: absolute;
    top: 50px;
    left: 0;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 0 10px #d1d1e0;
    z-index: 1;
}

.subNav {
    padding: 10px 20px;
}

.content {
    min-height: calc(100vh - 140px);
    max-width: 1340px;
    margin: 30px auto;
    display: flex;
    gap: 30px;
}

.containerQL {
    flex: 1;
    border: solid 1px #d1d1e0;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
}

.containerQL > p {
    font-size: 18px;
    margin: 0;
    padding: 7px 0 7px 25px;
    color: #ffffff;
    background-color: #c94842;
    border-radius: 10px 10px 0 0;
}

.listQL .QL {
    cursor: pointer;
}

.listQL .QL a {
    display: block;
    padding: 12px 25px;
    text-decoration: none;
    color: #000000;
}

.containerTT {
    position: relative;
    border: solid 1px #d1d1e0;
    border-radius: 10px;
    flex: 4;
    padding: 60px 0 0 100px;
}

h1 {
    font-size: 18px;
    font-weight: 600;
}

.form-group {
    margin: 12px 0;
}

.form-label {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 6px;
}

.form-control {
    padding: 6px 0;
    font-size: 16px;
    width: 390px;
}

.cb_input {
    margin: 12px 0;
}

.labelTT {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 6px;
}

.inputTT {
    padding: 6px 0;
    font-size: 16px;
    width: 390px;
}

.btn_CapNhat {
    background-color: #c94842;
    margin: 10px 0 0 293px;
    color: #ffffff;
    padding: 5px 0;
    width: 90px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

footer {
    position: relative;
    background-color: #c94842;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-size: 16px;
    padding: 20px;
    align-items: center;
}

.footer_logo {
    height: 140px;
    width: 140px;
    margin-right: 100px;
}

.footer_contact li {
    padding: 10px;
}

.footer_contact li a {
    text-decoration: none;
    color: #ffffff;
}

.footer_contact li span {
    font-weight: 600;
}

.footer_mxh {
    position: absolute;
    right: 52px;
    bottom: 20px;
}

.footer_mxh a {
    text-decoration: none;
}

.footer_icon {
    margin-right: 14px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
        hue-rotate(73deg) brightness(100%) contrast(103%);
}
