html {
    font-family: Arial;
}

.header {
    padding: 0 52px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #d1d1e0;
}

.logo {
    height: 65px;
    width: 65px;
    cursor: pointer;
}

.avatar {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.listNav {
    margin-left: 123px;
    display: flex;
    justify-content: space-between;
}
.nav {
    font-size: 18px;
    font-weight: 600;
    margin: 0 33px;
    padding: 8px 12px;
}

.nav a {
    text-decoration: none;
    color: black;
}

.account {
    position: relative;
}

.account {
    position: relative;
}

.quanLy {
    position: relative;
}

.listMenuAcc {
    display: none;
}

.listSubNav {
    display: none;
}

.listMenuAcc a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.listSubNav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.showMenuAccount {
    display: flex;
    width: 200px;
    position: absolute;
    top: 60px;
    right: 0;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 0 10px #d1d1e0;
}

.showMenuQuanLy {
    display: flex;
    width: 290px;
    position: absolute;
    top: 50px;
    left: 0;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 0 10px #d1d1e0;
}

.subNav {
    padding: 10px 20px;
}
main {
    margin-top: 20px;
}

#addBooking {
    background-color: #c94842;
    color: #ffffff;
    padding: 5px 0;
    width: 120px;
    border: none;
    border-radius: 6px;
}

.btn {
    background-color: #c94842;
    color: #ffffff;
    padding: 5px 0;
    width: 90px;
    border: none;
    border-radius: 6px;
}

h1 {
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 5px 10px;

    text-align: center;
}
footer {
    position: relative;
    background-color: #c94842;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-size: 16px;
    padding: 20px;
    align-items: center;
}

.footer_logo {
    height: 140px;
    width: 140px;
    margin-right: 100px;
}

.footer_contact li {
    padding: 10px;
}

.footer_contact li a {
    text-decoration: none;
    color: #ffffff;
}

#ft{
    list-style: none;
}

.footer_contact li span {
    font-weight: 600;
}

.footer_mxh {
    position: absolute;
    right: 52px;
    bottom: 20px;
}

.footer_mxh a {
    text-decoration: none;
}

.footer_icon {
    margin-right: 14px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
        hue-rotate(73deg) brightness(100%) contrast(103%);
}

/* CSS for the modal */
.modal {
    display: none; /* Ẩn modal ban đầu */
    position: fixed; /* Vị trí cố định */
    z-index: 1; /* Hiển thị modal trên các phần khác của trang */
    left: 0;
    top: 0;
    width: 100%; /* Full chiều rộng */
    height: 100%; /* Full chiều cao */
    overflow: auto; /* Tạo thanh cuộn nếu nội dung quá dài */
    background-color: rgba(0, 0, 0, 0.5); /* Tạo một lớp phủ */
}

/* Nội dung của modal */
.modal-content {
    margin:auto;
    background-color: #fefefe;
    margin: 15% auto; /* Cách lề trên và dưới 15% chiều cao của cửa sổ trình duyệt */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Chiều rộng của nội dung modal */
    text-align: center;
}

/* Nút đóng */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button{
    background-color: #c94842;
    border: none;
    color: #fff;
    padding: 5px;
}